.viewer {
  display: grid;
  inline-size: 100%;
  max-inline-size: 100vw;
  grid-template: "main  side  card";
  grid-template-columns: calc(40% - 8px) calc(40% - 8px) calc(20% - 8px);
  grid-gap: 8px;
  box-sizing: border-box;
}

.viewer > * {
  box-sizing: border-box;
}

.viewer__deckmain {
  grid-area: main;
}

.viewer__deckside {
  grid-area: side;
}

.viewer__deckcard {
  grid-area: card;
}

.viewer__deckmain,
.viewer__deckside {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.viewer .deck__groupedcards:not(:last-child) {
  margin-block-end: 12px;
}

.deck__groupedtype {
  display: block;
  text-align: center;
  font-size: 12px;
  font-style: italic;
}